body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.input-group {
   
    justify-content: space-between; /* 子元素之间的空间均匀分布 */
    align-items: center;   /* 垂直居中对齐 */
    width: 100%;           /* 容器宽度为100% */
    height: 10%;
}

.link-input, .brand, .start-scraping {           
    font-size: 20px;
    height: 100%; 
    padding: 10px 20px;    /* 内边距 */
    border: none;
    cursor: pointer;       /* 鼠标悬停时显示指针 */
}

.link-input {
    margin-left: 3%;   
    width: 65%;
    background-color: #5f5f5f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.brand {
    border-radius: 0; 
    margin: 5px;
    width: 7%;
    background-color: #5f5f5f;
}

.start-scraping {
    width: 18%;
    margin-right: 3%;
    background-color: #ff5722;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #333;
    height: 15%;
    margin:10px;
  }
  
  .product-name {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding: 10px;
    border-radius: 20px;
    width:30%;
    height: 100%;
    background: linear-gradient(150deg, #ff4500 0%, #1e1e1e 60%); /* 渐变背景 */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .score_total{
    display: flex;
    flex-direction: column; /* 指定子元素垂直排列 */
    height: 100%;
    width: 5%;
  }
   .ratings, .buyer, .recommend, .age {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin: 10px;
    border-radius: 20px;
    height: 100%;
    background-color: #2d2d2d;
    width: 15%;
    font-size: 16px;
    text-align: center;
    color: #ff4500;
  }
  .score,.total{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin: 5px;
    border-radius: 10px;
    background-color: #2d2d2d;
    width: auto;
    height: 50%;
    font-weight: 900;
  }
.score{
    color: #000000;
    
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #ff5722;
}

.reviews {
    flex-grow: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ff5722;
}
tr:nth-child(even) {
    background-color: #5f5f5f;
}
tr:hover {
    background-color: #f05252;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.download-reviews {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.version, .contact {
    margin: 0;
}
#csvcontent {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
  }
  
  #csvcontent th,
  #csvcontent td {
    padding: 10px; /* 单元格内容的内边距 */
    text-align: left;
    border: 1px solid #ddd; /* 单元格边框 */
  }
  
  #csvcontent thead {
    background-color: #f2f2f2; /* 表头背景色 */
  }
  
  #csvcontent tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* 奇数行背景色 */
  }
  
  #csvcontent tbody tr:hover {
    background-color: #f1f1f1; /* 鼠标悬停行背景色 */
  }
  
  /* 设置列之间的间隔 */
  #csvcontent th,
  #csvcontent td {
    border-spacing: 0;
  }
  
  /* 如果你想要在列之间添加额外的空间，可以通过以下方式 */
  #csvcontent th:not(:last-child),
  #csvcontent td:not(:last-child) {
    border-right: 1px solid #eaeaea; /* 列之间的分隔线 */
  }
