<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSO VOC Tool</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/brandDetector.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>PSO VOC TOOL</h1>
        </header>

        <div class="input-group">
            <form method="post" action="/submit">
                <input type="text" name="linkInput" placeholder="Input product link from homedepot.com" class="link-input">
                <button type="button"  class="brand">None</button>
                <button type="submit" class="start-scraping">Start Scraping</button>
            </form>
        </div>




        <div class="product-info">
            <div class="product-name">Product Name</div>
            <div class="score_total">
                <span class="score">Score</span>
                
                <span class="total">total</span>
            
            </div>
            <div class="ratings">ratings(%)</div>
            <div class="buyer">buyer(%)</div>
            <div class="recommend">recommend(%)</div>
            <div class="age">age(%)</div>
        </div>




        <div class="tabs">
            <button class="tab-button" id="aiAnalyzeButton">AI analysis</button>
            <button class="tab-button active" id="reviewsButton">Reviews</button>
        </div>


        <div class="reviews">
            <div class="rating-filters">
                <button class="rating-filter" data-rating="1">1 Star</button>
                <button class="rating-filter" data-rating="2">2 Stars</button>
                <button class="rating-filter" data-rating="3">3 Stars</button>
                <button class="rating-filter" data-rating="4">4 Stars</button>
                <button class="rating-filter" data-rating="5">5 Stars</button>
                <button class="rating-filter" data-rating="all">ALL</button>
            </div>
            <table id="csvTable">
                <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>

        <div class="AIanalyze hidden">


            <div class="ai_button"> 
                <input type="text" id="inputData" placeholder="Input your key" class="key_input">
                <button id="submitButton" class="aisubmit">Star analyzing</button>
            </div>
            <div class="airesult">       
                <div class="resultshow"> 
                    <div class="resulttitle">Customer Persona</div>
                    <div class="resultcontent"> </div>
                </div>    
                <div class="resultshow"> 
                    <div class="resulttitle">Usage Scenarios</div>
                    <canvas id="scenariosChart" width="400" height="200"></canvas>
                    <div id="scenariosDetail"></div>
                </div>   
                <div class="resultshow"> 
                    <div class="resulttitle">Positive Aspects(Pros)</div>
                    <canvas id="prosChart" width="400" height="200"></canvas>
                    <div id="prosDetail"></div>
                </div>   
                <div class="resultshow"> 
                    <div class="resulttitle">Negative Aspects(Cons)</div>
                    <canvas id="consChart" width="400" height="200"></canvas>
                    <div id="consDetail"></div>
                </div>   
                <div class="resultshow"> 
                    <div class="resulttitle">Suggestions for Improvement</div>
                    <div class="resultcontent"> </div>
                </div>        


        </div>
        
    </div>
    <div class="fixed-bottom">
        <footer class="footer">
            <button class="download-reviews">Download reviews</button>
            <span class="version">version: Beta 0.5.2</span>
            <span class="contact">Need Assistance? Email victor_hu@homedepot.com</span>
        </footer>
    </div>
    <img src="../static/Loading_2.gif" id="loadingImage" style="display: none; width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" alt="Loading">
</body>
</html>